@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-area {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 transparent;
}

.scroll-area::-webkit-scrollbar {
  width: 6px;
}

.scroll-area::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-area::-webkit-scrollbar-thumb {
  background-color: #cbd5f5;
  border-radius: 9999px;
}
